.adv {
  padding-top: 94px;
  padding-bottom: 129px;
  background-color: #292E39;
  color: var(--color-white);
}

.adv-block {
  padding-right: 5px;
  padding-left: 666px;
  background-image: url(../img/advRadioNew.png), url(../img/advRadio.png);
  background-repeat: no-repeat;
}

.heading-adv {
  width: 440px;
  margin-bottom: 18px;
  padding-bottom: 29px;
  color: var(--color-yellow);
  background-image: url(../img/svg/Vector.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.adv-text {
  width: 440px;
  line-height: 28.8px;
}

.adv-text:not(:last-child) {
  margin-bottom: 13px;
}

.adv-text-price {
  margin-top: 30px;
  display: block;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
}

.adv-link {
  display: inline-block;
  margin-top: 17px;
  padding: 21px 10px 22px 12px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-yellow);
  border: 2px solid var(--color-yellow);
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: 10px 50%;
}

.adv-link:hover {
  color: var(--color-black);
  background-color: var(--color-yellow);
}

.adv-link:focus {
  color: var(--color-black);
  background-color: #BB973E;
  border: 2px solid var(--color-yellow);
}

.adv-link:active {
  color: var(--color-black);
  background-color: #BB973E;
  border: transparent;
}

/*logo interactive*/
.adv-link:hover svg path:first-child {
  fill: #121723; 
}

.adv-link:hover svg path:last-child {
  fill: #F0D288; 
}

.adv-link:active svg path:first-child {
  fill: #121723; 
}
.adv-link:active svg path:last-child {
  fill: #BB973E; 
}

@media (max-width: 1024px) {
  .adv {
    padding-bottom: 95px;
  }

  .adv-block {
    padding-left: 425px;
    background-size: 100px 100px, 397px 349px;
    background-position: 0 123px;
  }

  .adv-text {
    width: 395px;
  }
}

@media (max-width: 768px) {
  .adv-block {
    padding-top: 523px;
    padding-left: 0;
    background-size: 160px 160px, 540px 474px;
    background-position: 0 0;
  }

  .adv {
    padding-top: 54px;
  }

  .adv-text {
    width: 540px;
  }

  .adv-text-price {
    margin-top: 60px;
  }
}

@media (max-width: 320px) {
  .adv{
    padding-bottom: 54px;
  }

  .adv-block {
    padding-top: 262px;
    padding-left: 0;
    background-size: 62px 62px, 256px 225px;
    background-position: 0 0;
  }

  .heading-adv {
    width: 100%;
    padding-bottom: 22px;
  }

  .adv-text {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
  }

  .adv-text-price {
    margin-top: 12px;
    font-size: 24px;
    line-height: 24px;
  }

  .adv-link {
    margin-top: 6px;
    padding: 10px 8px 13px 18px;
    font-size: 16px;
    line-height: 16px;
  }
}
