.section-guests {
  padding: 92px 0;
  background-color: var(--color-black);
  color: var(--color-grey);
}

.heading-guests {
  margin-bottom: 12px;
  color: var(--color-white);
}

.guests-text {
  margin-bottom: 52px;
  max-width: 810px;
  font-size: 20px;
  line-height: 32px;
}

.guests-text-span {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.guests-item-card {
  display: flex;
  justify-content: space-between;
}

.guests-item:not(:last-child) {
  margin-bottom: 50px;
}

.guests-item-descr {
  width: 647px;
  display: flex;
  flex-direction: column;
}

.guest-card-heading {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-white);
}

.guests-item-text {
  flex-grow: 1;
  max-width: 458px;
  line-height: 28.8px;
}

.guests-item-link {
  display: inline-block;
  width: 160px;
  padding: 12px 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #AA9DFA;
  text-align: center;
  border-radius: 77px;
  border: 2px solid #AA9DFA;
}

.guests-item-link:hover {
  color: var(--color-white);
  background-color: #AA9DFA;
}

.guests-item-link:focus {
  color: var(--color-white);
  background-color: var(--color-purple);
  border: transparent;
}

.guests-item-link:active {
  color: var(--color-white);
  background-color: #4F28A5;
  border: transparent;
}

@media (max-width: 1024px) {
  .guests-text {
    width: 65%;
  }

  .guests-item-descr {
    width: 44%;
  }
}

@media (max-width: 768px) {
  .section-guests {
    padding-top: 94px;
  }

  .guests-text {
    width: 100%;
  }

  .guests-item-descr {
    margin-top: 28px;
    width: 67%;
  }

  .guests-item-card {
    flex-direction: column;
  }

  .guests-item-text {
    margin-bottom: 29px;
  }
}

@media (max-width: 320px) {
  .section-guests {
    padding: 55px 0;
  }

  .guests-text {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 22px;
  }

  .guests-text-span {
    margin-bottom: -1px;
    font-size: 14px;
    line-height: 21px;
  }

  .guests-item-descr {
    width: 100%;
    margin-top: 11px;
  }

  .guests-item-link {
    width: 150px;
    padding: 8px 0;
  }

  .guests-item:not(:last-child) {
    margin-bottom: 30px;
  }
}


