@media (max-width: 1024px) {
  .container {
    max-width: 823px;
  }

  /* header */
  .header__logo-img{
    width: 112px;
  }

  .header {
    position: relative;
    height: 144px;
    padding-top: 33px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .header__nav {
    width: 100%;
    padding: 15px 0;
    border-top: 1px solid #e6e8ec;
    border-bottom: 1px solid #e6e8ec;
  }

  .header__nav-list {
    justify-content: space-between;
  }

  .header__search-button {
    position: absolute;
    top: 27px;
    right: 5px;
  }

  /* radio */
  .radio__heading {
    padding-top: 90px;
    background-size: 256px 262px;
  }

  .radio__text {
    max-width: 549px;
  }

  .radio__button {
    margin-top: 21px;
  }

  /* podcasts */
  .podcasts__item {
    width: 396px;
  }

  .podcasts__heading {
    margin-bottom: 30px;
  }

  .podcasts__card-date {
    padding-bottom: 2px;
  }

  /* broadcast */
  .broadcast__list {
    width: 553px;
  }

  /* guests */
  .guests__text {
    width: 65%;
  }

  .guests__item-descr {
    width: 44%;
  }

  /* playlists */
  .playlists {
    flex-direction: column;
    padding-bottom: 64px;
  }

  .playlists__text {
    max-width: 100%;
  }

  .playlists__list {
    width: 100%;
    padding-top: 28px;
  }

  .playlists__item {
    display: flex;
    width: 255px;
    height: 112px;
    margin-bottom: 30px;
  }

  .playlist__card {
    padding-top: 37px;
  }

  .playlist__card-title {
    margin-left: 11px;
  }

  .playlists__card-text {
    margin-left: 10px;
  }

  /* adv */
  .adv {
    padding-bottom: 95px;
  }

  .adv__container {
    padding-left: 425px;
    background-size: 100px 100px, 397px 349px;
    background-position: 0 123px;
  }

  .adv__text {
    width: 395px;
  }


  /* us */
  .us {
    background-image: url(../img/us.png);
    background-position: 87.5% 144px;
  }

  .us__text {
    padding-right: 289px;
  }

  .us__list {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .us__item {
    width: 397px;
    margin-bottom: 30px;
  }

  .us__card-one {
    background-image: url(../img/1024gutenberg.png);
  }

  .us__card-two {
    background-image: url(../img/1024vasileva.png);
  }

  .us__card-three {
    background-image: url(../img/1024dmitrievskiy.png);
  }

  .us__card-four {
    background-image: url(../img/f1024leganova.png);
  }

  .us__form {
    width: 100%;
  }

  .us__input {
    width: 396px;
  }

  .us__button {
    margin-bottom: 23px;
  }


  /* footer */
  .footer {
    background-position-x: 14px;
  }

  .footer__container {
    max-width: 823px;
  }

}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  /* header */
  .header__nav-link {
    font-size: 16px;
    line-height: 16px;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 54px;
  }

  /* radio */
  .radio {
    background-image: none;
  }

  .radio__button {
    margin-top: 18px;
  }

  /* podcasts */
  .podcasts {
    padding-bottom: 94px;
  }

  .podcasts__item {
    width: 100%;
  }

  /* broadcast */
  .broadcast {
    flex-direction: column;
    margin-bottom: 0;
  }

  .broadcast__archive {
    display: none;
  }

  .broadcast__archive-text {
    margin-bottom: 27px;
  }

  .broadcast__list {
    margin-top: 79px;
    width: 100%;
  }


  .broadcast__archive--mobile {
    padding-left: 126px;
    display: block;
    padding-top: 62px;
    background-image: url(../img/broadcastMic.png);
    background-repeat: no-repeat;
    align-self: center;
    background-position: 39px 68px;
  }


  /* guests */
  .guests {
    padding-top: 94px;
  }

  .guests__text {
    width: 100%;
  }

  .guests__card {
    flex-direction: column;
  }

  .guests__item-descr {
    margin-top: 28px;
    width: 67%;
  }


  .guests__item-text {
    margin-bottom: 29px;
  }

  /* playlists */
  .playlists {
    padding-bottom: 82px;
  }

  /* adv */
  .adv__container {
    padding-top: 523px;
    padding-left: 0;
    background-size: 160px 160px, 540px 474px;
    background-position: 0 0;
  }

  .adv {
    padding-top: 54px;
  }

  .adv__text {
    width: 540px;
  }

  .adv__price {
    margin-top: 60px;
  }


  /* us */
  .us {
    background-image: url(../img/us768.png);
    background-position: 0 473px;
  }

  .us__text {
    padding-right: 0;
    margin-bottom: 170px;
  }

  .us__item {
    width: 255px;
  }

  .us__card-one {
    background-image: url(../img/gutenberg.png);
  }

  .us__card-two {
    background-image: url(../img/vasileva.png);
  }

  .us__card-three {
    background-image: url(../img/dmitrievskiy.png);
  }

  .us__card-four {
    background-image: url(../img/fleganova.png);
  }

  .us__input {
    width: 100%;
  }

  .us__button {
    margin-top: 30px;
  }


  /* footer */
  .footer {
    background-position: -14px 437px;
  }

  .footer__container {
    max-width: 540px;
    flex-direction: column;
    padding-bottom: 71px;
  }

  .footer__social {
    align-self: center;
  }

  .footer__social-list {
    width: 150px;
    margin-bottom: 72px;
    padding: 0 8px;
  }

  .footer__icon svg {
    width: 30px;
    height: 30px;
  }

  .footer__nav {
    width: 100%;
  }

  .footer__nav-list {
    height: 138px;
    align-content: space-between;
  }

  .footer__nav-item {
    margin-left: 0;
  }


  .footer__nav-item:not(:last-child) {
    margin-bottom: 30px;
  }


}

@media (max-width: 320px) {
  .container {
    max-width: 256px;
  }

  .radio__heading {
    font-size: 24px;
    line-height: 24px;
  }

  /* header  */
  .header {
    padding-top: 22px;
    height: 105px;
  }

  .header__logo-img {
    width: 87px;
  }

  .header__search-button {
    top: 14px;
  }

  .header__nav {
    height: 50px;
    padding: 7px 0;
    overflow: auto;
  }

  .header__nav-list {
    justify-content: flex-start;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 28px;
  }

  .header__nav-item:last-child a {
    width: 44px;
  }

  /* radio */
  .radio {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .radio__heading {
    font-size: 32px;
    line-height: 32px;
  }

  .radio__text {
    margin-top: 8px;
    font-size: 14px;
    line-height: 21px;
  }

  .radio__button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 16px;
  }

  /* podcasts */
  .podcasts {
    margin-bottom: 55px;
    padding-top: 55px;
    padding-bottom: 54px;
  }

  .podcasts__heading {
    margin-bottom: 19px;
  }

  .podcasts__item {
    flex-direction: column;
    height: auto;
  }

  .podcasts__date {
    width: 100%;
    height: 72px;
  }

  .podcasts__card-date {
    align-self: flex-start;
    padding-top: 4px;
  }

  .podcasts__desc {
    align-self: self-start;
    margin-left: 16px;
    margin-bottom: 31px;
    padding-top: 30px;
  }

  .podcasts__title {
    font-size: 16px;
    line-height: 16px;
  }

  .podcasts__text {
    font-size: 12px;
    line-height: 12px;
  }

  .podcasts__date--one {
    background-image: url(../img/320podOne.png);
  }

  .podcasts__date--two {
    background-image: url(../img/320podTwo.png);
  }

  .podcasts__date--three {
    background-image: url(../img/320podThree.png);
  }

  .podcasts__date--four {
    background-image: url(../img/320podFour.png);
  }

  .podcasts__date--five {
    background-image: url(../img/320podFive.png);
  }

  .podcasts__date--six {
    background-image: url(../img/320podSix.png);
  }

  .podcasts__date--seven {
    background-image: url(../img/320podSeven.png);
  }

  .podcasts__date--eight {
    background-image: url(../img/320podEight.png);
  }

  /* broadcast */
  .broadcast {
    margin-bottom: 41px;
  }

  .broadcast__archive-link {
    width: 110px;
  }

  .broadcast__archive-text {
    max-width: 166px;
    margin-bottom: -4px;
    padding: 8px 0;
    font-size: 14px;
    line-height: 21px;
  }

  .broadcast__list {
    margin-top: -7px;
  }

  .broadcast__item-descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 113px;
    height: 149px;
    padding: 60px 7px 12px 9px;
    background-size: 113px 50px;
  }


  .broadcast__title {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__text {
    width: 90px;
    font-size: 9px;
    line-height: 9px;
  }

  .broadcast__link {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__archive--mobile {
    width: 320px;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 100px;
    padding-top: 24px;
    background-size: 77px 105px;
    background-position: 10px 32px;
  }


  /* guests */
  .guests {
    padding: 55px 0;
  }

  .guests__descr-span {
    margin-bottom: -1px;
    font-size: 14px;
    line-height: 21px;
  }

  .guests__text {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 22px;
  }

  .guests__item-descr {
    width: 100%;
    margin-top: 11px;
  }

  .guests__link {
    width: 150px;
    padding: 8px 0;
  }

  .guests__item:not(:last-child) {
    margin-bottom: 30px;
  }

  /* playlists */
  .playlists {
    padding-top: 56px;
    padding-bottom: 25px;
  }

  .playlists__text {
    font-size: 12px;
    line-height: 16px;
  }

  .playlists__date {
    margin-bottom: 10px;
  }

  .playlists__item {
    width: 113px;
    height: 159px;
    flex-direction: column;
  }

  .playlist__card-title {
    font-size: 12px;
    line-height: 12px;
  }

  .playlists__card-text {
    font-size: 9px;
    line-height: 9px;
  }

  .playlist__card {
    padding-top: 9px;
  }


  /* adv */
  .adv {
    padding-bottom: 54px;
  }

  .adv__container {
    padding-top: 262px;
    padding-left: 0;
    background-size: 62px 62px, 256px 225px;
    background-position: 0 0;
  }

  .adv__title {
    width: 100%;
    padding-bottom: 22px;
  }

  .adv__text {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
  }

  .adv__price {
    margin-top: 12px;
    font-size: 24px;
    line-height: 24px;
  }

  .adv__link {
    margin-top: 6px;
    padding: 10px 8px 13px 18px;
    font-size: 16px;
    line-height: 16px;
  }


  /* us */
  .us {
    padding-top: 54px;
    padding-bottom: 45px;
    background-image: none;
  }

  .us__text-span {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 21px;
  }

  .us__text {
    width: 93%;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 22px;
  }

  .us__item {
    width: 113px;
  }

  .us__card {
    padding-top: 122px;
    background-size: 113px 113px;
  }

  .us__card-title {
    font-size: 14px;
    line-height: 18px;
  }

  .us__card-text {
    font-size: 12px;
    line-height: 16px;
  }

  .us__textarea{
    padding: 15px 0 0 23px;
  }

  .us__input {
    height: 50px;
    padding-left: 23px;
  }

  ::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .us__button {
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 16px;
    padding: 15px 43px;
  }

  .us__checkbox-span {
    font-size: 9px;
    line-height: 9px;
  }


  /* footer */
  .footer {
    padding-top: 56px;
    background-position: -6px 410px;
  }

  .footer__container {
    padding-bottom: 30px;
  }

  .footer__nav-link {
    font-size: 12px;
    line-height: 12px;
  }

  .footer__nav-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .footer__social-list {
    margin-bottom: 46px;
  }

  .footer__nav {
    height: 215px;
    padding: 26px 18px 0 32px;
    background-color: #121723;
  }

  .footer__nav-list {
    height: 180px;
  }

  .footer__nav-item {
    margin-right: 79px;
  }

  .footer__span {
    font-size: 12px;
    line-height: 12px;
  }
}