@media (max-width: 1400px) {
  .container {
    padding: 0 100px;
  }

  /*header*/
  .header__container {
    padding-top: 12px;
    min-height: 160px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .header__logo-img {
    width: 112px;
    order: 1;
  }

  .header__nav {
    min-height: 64px;
    min-width: 100%;
    align-content: center;
    border-top: 1px solid #E6E8EC;
    border-bottom: 1px solid #E6E8EC;
    order: 3;
  }

  .header__nav-list {
    gap: 0;
    justify-content: space-between;
  }

  .header__search-button {
    order: 2;
  }

  /* radio */
  .radio {
    padding: 75px 0 90px 0;
    background-size: 256px 262px;
  }

  .radio__text {
    max-width: 61%;
    margin-bottom: 20px;
  }

  /* podcasts */
  .podcasts__item {
    width: 48.2%;
  }

  .podcasts__date {
    width: 170px;
  }

  /* broadcast */
  .broadcast {
    column-gap: 30px;
  }


  .broadcast__list {
    /* width: 540px; */
  }
}

@media (max-width: 980px) {
  .container {
    padding: 0 114px;
  }

  .header__container {
    min-height: 152px;
  }

  .header__nav {
    min-height: 57px;
  }

  .header__nav-link {
    font-size: 16px;
    line-height: 16px;
  }

  /* radio */
  .radio {
    padding: 79px 0 90px 0;
    background-image: none;
  }

  .radio__heading {
    max-width: 100%;
  }

  .radio__text {
    max-width: 100%;
  }

  /* podcasts */
  .podcasts__item {
    width: 100%;
  }

  .podcasts__date {
    width: 146px;
  }

  /* broadcast */
  .broadcast {
    flex-direction: column;
  }

  .broadcast__archive {
    display: none;
  }

  .broadcast__heading--mobile {
    display: block;
    margin-bottom: 109px;
  }

  .broadcast__list {
    margin-bottom: 60px;
  }

  .broadcast__archive--mobile {
    display: block;
    position: relative;
    min-height: 157px;
    width: 255px;
    padding-left: 45px;
    padding-top: 30px;
    align-self: center;
  }

  .broadcast__archive--mobile::before {
    content: "";
    position: absolute;
    top: 32px;
    left: -44px;
    width: 70px;
    height: 96px;
    background-image: url(../img/broadcastMic.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .broadcast__archive-link {
    margin-bottom: 6px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 32px;
  }

  .header__container {
    min-height: 110px;
    padding-top: 9px;
  }

  .header__logo-img {
    width: 87px;
  }

  .header__nav {
    min-height: 50px;
  }

  .header__nav-list {
    gap: 0 28px;
    overflow-x: scroll;
    white-space: nowrap;
  }

  /* radio */
  .radio {
    padding: 35px 0 40px 0;
  }

  .radio__heading {
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 32px;
  }

  .radio__text {
    max-width: 98.2%;
    font-size: 14px;
    line-height: 21px;
  }

  .radio__button {
    padding: 17px 45px;
    font-size: 16px;
    line-height: 16px;
  }

  /* podcasts */
  .podcasts {
    padding: 55px 0;
  }

  .podcasts__heading {
    margin-bottom: 19px;
    font-size: 24px;
    line-height: 24px;
  }

  .podcasts__item {
    flex-direction: column;
  }

  .podcasts__date {
    width: 100%;
    height: 72px;
  }

  .podcasts__card-date {
    top: 0;
    padding-top: 3px;
  }

  .podcasts__date--one {
    background-position-y: -39px;
  }

  .podcasts__date--four {
    background-position-x: 0;
  }

  .podcasts__date--five {
    background-position-y: -3px;
  }

  .podcasts__date--six {
    background-position-x: 0;
  }

  .podcasts__date--eight {
    background-position-x: 0;
  }

  .podcasts__desc {
    padding: 30px 16px 32px 16px;
  }

  .podcasts__title {
    font-size: 16px;
    line-height: 16px;
  }

  .podcasts__text {
    font-size: 12px;
    line-height: 12px;
  }

  /* broadcast */
  .broadcast {
    padding: 54px 0;
  }

  .broadcast__list {
    margin-bottom: 30px;
  }

  .broadcast__item {
    width: 113px;
  }

  .broadcast__heading--mobile {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 24px;
  }

  .broadcast__item {
    width: 113px;
    min-height: 149px;
    padding-top: 50px;
    background-size: 113px 50px;
  }

  .broadcast__item-descr {
    padding-left: 9px;
  }

  .broadcast__item-descr {
    position: relative;
    min-height: 86px;
    padding-top: 10px;
  }

  .broadcast__title {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__text {
    margin-bottom: 8px;
    font-size: 9px;
    line-height: 9px;
  }

  .broadcast__link {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    line-height: 12px;
    font-style: italic;
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='28' height='12' viewBox='0 0 28 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z' fill='%236D31EE' /%3e%3c/svg%3e ");
    color: var(--color-purple);
  }


  .broadcast__archive--mobile {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    min-height: 143px;
    padding-left: 66px;
    background-image: none;
  }

  .broadcast__archive--mobile::before {
    top: 32px;
    left: -22px;
    width: 77px;
    height: 105px;
  }

  .broadcast__archive-link {
    width: 110px;
    min-height: 35px;
    padding: 0;
    align-content: center;
  }

  .broadcast__archive-text {
    min-width: 100%;
    font-size: 14px;
    line-height: 21px;
  }
}