.section-radio {
  padding-top: 110px;
  padding-bottom: 94px;
  background-image: url('../img/microphone.png');
  background-repeat: no-repeat;
  background-position: right center;
}

.heading-radio {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  font-style: italic;
}

.h1-span {
  font-weight: 700;
  font-style: normal;
}

.radio-text {
  margin-top: 15px;
  max-width: 594px;
  line-height: 24px;
}

.radio-form-button {
  margin-top: 45px;
  width: 245px;
  height: 70px;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-white);
  border-radius: 40px;
  background-color: var(--color-purple);
  border: transparent;
}

.radio-form-button:hover {
  background-color: #AA9DFA;
}

.radio-form-button:focus {
  background-color: #AA9DFA;
  border: 2px solid #4F28A5;
}

.radio-form-button:active {
  background-color: #4F28A5;
}

@media (max-width: 1024px) {
  .section-radio {
    padding-top: 90px;
    background-size: 256px 262px;
   }

   .radio-text {
    max-width: 549px;
   }

   .radio-form-button {
    margin-top: 21px;
   }
}

@media (max-width: 768px) {
  .section-radio {
    background-image: none;
  }

  .radio-form-button {
    margin-top: 18px;
   }
}

@media (max-width: 320px) {
  .section-radio {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .heading-radio {
    font-size: 32px;
    line-height: 32px;
  }

  .radio-text {
    margin-top: 8px;
    font-size: 14px;
    line-height: 21px;
  }

  .radio-form-button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 16px;
  }
}