@font-face {
	font-family: 'Muller';
	src: local('Muller-Regular'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'Muller';
	src: local('Muller-Medium'),
		url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Muller';
	src: local('Muller-Bold'),
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

:root {
	--color-white: #FFFFFF;
	--color-black: #121723;
	--color-purple: #6D31EE;
	--color-grey: #A1A6B4;
	--color-yellow: #F0D288;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

button,
input {
	font: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button {
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
p {
	padding: 0;
	margin: 0;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

body {
	min-width: 320px;
	margin: 0;
	background: var(--color-white);
	font-family: 'Muller', Arial, sans-serif;
	font-size: 16px;
	color: var(--color-black);
	line-height: 32px;
	text-align: left;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
}

.section__heading {
	font-size: 48px;
	font-weight: 400;
	line-height: 48px;
}

/*header*/
.header {
	height: 56px;
	display: flex;
	align-items: center;
}

.header__logo-img {
	margin-right: 83px;
}

.header__nav-list {
	display: flex;
}

.header__nav-item:not(:last-child) {
	margin-right: 58px;
}

.header__nav-link {
	display: inline-block;
	font-size: 20px;
	line-height: 20px;
}

.header__nav-link:hover {
	color: var(--color-purple);
}

.header__nav-link:focus {
	padding: 4px 10px;
	color: var(--color-white);
	background-color: #AA9DFA;
}

.header__nav-link:active {
	color: #4F28A5;
}

.header__search-button {
	width: 24px;
	height: 24px;
	margin-left: auto;
	background-color: transparent;
	background-size: cover;
	border: none;
}

.header__search-button:hover path {
	stroke: #AA9DFA;
}

.header__search-button:focus path {
	stroke: #AA9DFA;
}

.header__search-button:active path {
	stroke: #4F28A5;
}

/* radio */
.radio {
	padding-top: 110px;
	padding-bottom: 94px;
	background-image: url('../img/microphone.png');
	background-repeat: no-repeat;
	background-position: right center;
}

.radio__heading {
	font-size: 60px;
	line-height: 60px;
	font-weight: 400;
	font-style: italic;
}

.radio__heading-span {
	font-weight: 700;
	font-style: normal;
}

.radio__text {
	margin-top: 15px;
	max-width: 594px;
	line-height: 24px;
}

.radio__button {
	margin-top: 45px;
	width: 245px;
	height: 70px;
	font-size: 20px;
	font-weight: 500;
	color: var(--color-white);
	border-radius: 40px;
	background-color: var(--color-purple);
	border: transparent;
}

.radio__button:hover {
	background-color: #AA9DFA;
}

.radio__button:focus {
	background-color: #AA9DFA;
	border: 2px solid #4F28A5;
}

.radio__button:active {
	background-color: #4F28A5;
}

/* podcasts */
.podcasts {
	margin-bottom: 91px;
	padding-top: 90px;
	padding-bottom: 65px;
	background-color: #e6e7ec;
}

.podcasts__heading {
	margin-bottom: 33px;
}

.podcasts__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.podcasts__item {
	width: 540px;
	height: 140px;
	display: flex;
	background-color: var(--color-white);
	background-repeat: no-repeat;
	background-size: contain;
}

.podcasts__item:not(:last-child) {
	margin-bottom: 30px;
}

.podcasts__date {
	width: 112px;
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
}

.podcasts__card-date {
	width: 51px;
	padding-top: 5px;
	align-self: flex-end;
	background-color: #E6E8EC;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
}

.podcasts__desc {
	margin-left: 30px;
	align-self: center;
}

.podcasts__time {
	font-size: 12px;
	line-height: 12px;
}

.podcasts__title {
	margin-top: 8px;
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
}

.podcasts__text {
	margin-top: 4px;
	line-height: 16px;
	color: var(--color-grey);
}

.podcasts__date--one {
	background-image: url(../img/podOne.png);
}

.podcasts__date--two {
	background-image: url(../img/podTwo.png);
}

.podcasts__date--three {
	background-image: url(../img/podThree.png);
}

.podcasts__date--four {
	background-image: url(../img/podFour.png);
}

.podcasts__date--five {
	background-image: url(../img/podFive.png);
}

.podcasts__date--six {
	background-image: url(../img/podSix.png);
}

.podcasts__date--seven {
	background-image: url(../img/podSeven.png);
}

.podcasts__date--eigh {
	background-image: url(../img/podEight.png);
}

/* broadcast */
.broadcast {
	margin-bottom: 65px;
	display: flex;
	justify-content: space-between;
}

.broadcast__archive {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.broadcast__archive-descr {
	height: 249px;
	padding-top: 120px;
	background-image: url(../img/broadcastMic.png);
	background-repeat: no-repeat;
	background-position-y: 7px;
}

.broadcast__archive-link {
	display: block;
	margin-bottom: 11px;
	width: 160px;
	padding: 10px 0;
	border-radius: 77px;
	border: 2px solid var(--color-black);
	line-height: 16px;
	font-weight: 500;
	text-align: center;
}

.broadcast__archive-text {
	max-width: 290px;
	margin-bottom: 30px;
	line-height: 24px;
	color: var(--color-grey);
}

.broadcast__list {
	width: 845px;
	padding-top: 16px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.broadcast__item {
	margin-bottom: 28px;
	border: 1px solid #E6E8EC;
}

.broadcast__item-descr {
	width: 255px;
	padding: 168px 0 12px 16px;
	background-repeat: no-repeat;
	background-size: 255px 148px;
}

.broadcast__title {
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
}

.broadcast__text {
	margin-top: 4px;
	font-size: 12px;
	line-height: 12px;
	color: var(--color-grey);
}

.broadcast__link {
	width: 50%;
	display: inline-block;
	margin-top: 20px;
	line-height: 16px;
	font-style: italic;
	background-repeat: no-repeat;
	background-position: center right;
	background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='28' height='12' viewBox='0 0 28 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z' fill='%23121723' /%3e%3c/svg%3e ");
}

.broadcast__link:hover {
	color: var(--color-purple);
	background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='28' height='12' viewBox='0 0 28 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z' fill='%236D31EE' /%3e%3c/svg%3e ");}

.broadcast__link:focus {
	padding: 2px;
	background-color: #AA9DFA;
	background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='28' height='12' viewBox='0 0 28 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z' fill='%23FFFFFF' /%3e%3c/svg%3e ");
	color: var(--color-white);
}

.broadcast__link:active {
	color: #4F28A5;
	background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='28' height='12' viewBox='0 0 28 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z' fill='%234F28A5' /%3e%3c/svg%3e ");
}


.broadcast__item--one {
	background-image: url(../img/broadcastOne.png);
}

.broadcast__item--two {
	background-image: url(../img/broadcastTwo.png);
}

.broadcast__item--three {
	background-image: url(../img/broadcastThree.png);
}

.broadcast__item--four {
	background-image: url(../img/broadcastFour.png);
}

.broadcast__item--five {
	background-image: url(../img/broadcastFive.png);
}

.broadcast__item--six {
	background-image: url(../img/broadcastSix.png);
}

.broadcast__archive--mobile {
	display: none;
}

/* guests */
.guests {
	padding: 92px 0;
	background-color: var(--color-black);
	color: var(--color-grey);
}

.guests__title {
	margin-bottom: 12px;
	color: var(--color-white);
}

.guests__descr-span {
	display: block;
	margin-bottom: 8px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
}

.guests__text {
	margin-bottom: 52px;
	max-width: 810px;
	font-size: 20px;
	line-height: 32px;
}

.guests__item:not(:last-child) {
	margin-bottom: 50px;
}

.guests__card {
	display: flex;
	justify-content: space-between;
}


.guests__item-descr {
	width: 647px;
	display: flex;
	flex-direction: column;
}

.guest__item-title {
	margin-bottom: 8px;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	color: var(--color-white);
}

.guests__item-text {
	flex-grow: 1;
	max-width: 458px;
	line-height: 28.8px;
}

.guests__link {
	display: inline-block;
	width: 160px;
	padding: 12px 0;
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	color: #AA9DFA;
	text-align: center;
	border-radius: 77px;
	border: 2px solid #AA9DFA;
}

.guests__link:hover {
	color: var(--color-white);
	background-color: #AA9DFA;
}

.guests__link:focus {
	color: var(--color-white);
	background-color: var(--color-purple);
	border: transparent;
}

.guests__link:active {
	color: var(--color-white);
	background-color: #4F28A5;
	border: transparent;
}


/* playlists */
.playlists {
	padding-top: 94px;
	padding-bottom: 67px;
	display: flex;
	justify-content: space-between;
}

.playlists__title {
	margin-bottom: 12px;
}

.playlists__text {
	max-width: 302px;
	line-height: 22px;
	color: var(--color-grey);
}

.playlists__date {
	display: block;
	margin-bottom: 7px;
	font-weight: 300;
	font-style: italic;
}

.playlists__number {
	display: block;
	width: 30px;
	padding: 7px 3px;
	font-size: 12px;
	line-height: 16px;
	border-radius: 100px;
	border: 1px solid var(--color-grey);
	text-align: center;
}

.playlists__list {
	display: flex;
	width: 730px;
	padding-top: 16px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.playlists__item {
	margin-bottom: 28px;
	border: 1px solid #E6E8EC;
}

.playlist__card-title {
	margin: 3px 0 5px 16px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
}

.playlists__card-text {
	margin: 0 0 16px 16px;
	font-size: 12px;
	line-height: 12px;
	color: var(--color-grey);
}


/* adv */
.adv {
	padding-top: 94px;
	padding-bottom: 129px;
	background-color: #292E39;
	color: var(--color-white);
}

.adv__container {
	padding-right: 5px;
	padding-left: 666px;
	background-image: url(../img/advRadioNew.png), url(../img/advRadio.png);
	background-repeat: no-repeat;
}

.adv__title {
	width: 440px;
	margin-bottom: 18px;
	padding-bottom: 29px;
	color: var(--color-yellow);
	background-image: url(../img/svg/Vector.svg);
	background-repeat: no-repeat;
	background-position: bottom;
}

.adv__text {
	width: 440px;
	line-height: 28.8px;
}

.adv__text:not(:last-child) {
	margin-bottom: 13px;
}

.adv__price {
	margin-top: 30px;
	display: block;
	font-size: 30px;
	line-height: 30px;
	font-weight: 500;
}

.adv__link {
	display: inline-block;
	margin-top: 17px;
	padding: 21px 10px 22px 12px;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	color: var(--color-yellow);
	border: 2px solid var(--color-yellow);
	border-radius: 100px;
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

.adv__link:hover {
	color: var(--color-black);
	background-color: var(--color-yellow);
}

.adv__link:focus {
	color: var(--color-black);
	background-color: #BB973E;
	border: 2px solid var(--color-yellow);
}

.adv__link:active {
	color: var(--color-black);
	background-color: #BB973E;
	border: transparent;
}

.adv__link:hover svg path:first-child {
	fill: #121723;
}

.adv__link:hover svg path:last-child {
	fill: #F0D288;
}

.adv__link:active svg path:first-child {
	fill: #121723;
}

.adv__link:active svg path:last-child {
	fill: #BB973E;
}


/* us */
.us {
	padding-top: 94px;
	padding-bottom: 85px;
	background-color: var(--color-black);
	color: var(--color-white);
	background-image: url(../img/svg/usVector.svg);
	background-repeat: no-repeat;
	background-position: 72.5% 93px;
}

.us__title {
	margin-bottom: 12px;
}

.us__text {
	margin-bottom: 29px;
	padding-right: 476px;
	font-size: 20px;
	line-height: 32px;
	color: var(--color-grey);
}

.us__text-span {
	display: inline-block;
	margin-bottom: 8px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
}

.us__list {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
}

.us__item {
	width: 255px;
}

.us__img {
	margin-bottom: 20px;
}

.us__card {
	padding-top: 285px;
	background-repeat: no-repeat;
}

.us__card-one {
	background-image: url(../img/gutenberg.png);
}

.us__card-two {
	background-image: url(../img/vasileva.png);
}

.us__card-three{
	background-image: url(../img/dmitrievskiy.png);
}

.us__card-four {
	background-image: url(../img/fleganova.png);
}

.us__card-title {
	margin-bottom: 8px;
	font-size: 20px;
	line-height: 20px;
}

.us__card-text {
	font-size: 16px;
	line-height: 24px;
	color: var(--color-grey);
}

.us__form {
	width: 83%;
}

.us__textarea{
	display: block;
	width: 100%;
	height: 150px;
	margin-bottom: 30px;
	padding: 30px 0 0 32px;
	border-radius: 30px;
	border: 1px solid var(--color-white);
	background-color: transparent;
}

::placeholder {
	font-size: 20px;
	line-height: 20px;
	color: var(--color-grey);
}

.us__textarea:hover {
	background-color: #292E39;
}

.us__textarea:focus {
	background-color: #292E39;
	border: 1px solid #AA9DFA;
}

.us__input {
	width: 445px;
	height: 70px;
	padding-left: 32px;
	border-radius: 40px;
	border: 1px solid var(--color-white);
	background-color: transparent;
}

.us__input:not(:last-of-type) {
	margin-right: 25px;
	margin-bottom: 30px;
}

.us__input:hover {
	background-color: #292E39;
}

.us__input:focus {
	background-color: #292E39;
	border: 1px solid #AA9DFA;
}

.us__button {
	display: block;
	margin-bottom: 24px;
	padding: 23px 53px;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	color: var(--color-white);
	border-radius: 40px;
	border-color: transparent;
	background-color: var(--color-purple);
}

.us__button:hover {
	background-color: #AA9DFA;
}

.us__button:focus {
	background-color: #AA9DFA;
	border: 2px solid #4F28A5;
}

.us__button:active {
	background-color: #4F28A5;
}

.us__checkbox {
	user-select: none;
	cursor: pointer;
}

.us__checkbox-input {
	position: absolute;
	appearance: none;
}

.us__checkbox-span {
	position: relative;
	padding-left: 22px;
	font-size: 12px;
	line-height: 12px;
	font-weight: 500;
}

.us__checkbox-span::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 14px;
	height: 14px;
	border: 1px solid var(--color-white);
	transform: translateY(-50%);
}

.us__checkbox-span::after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 14px;
	height: 14px;
	background-image: url(../img/svg/check.svg);
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity 0.3s;
}

.us__checkbox-input:checked+.custom-checkbox-text::after {
	opacity: 1;
}


/* footer */
.footer {
	padding-top: 94px;
	padding-bottom: 10px;
	background-color: #292E39;
	color: var(--color-white);
	background-image: url(../img/svg/footerVector.svg);
	background-repeat: no-repeat;
	background-position-y: 275px;
}

.footer__container {
	max-width: 1110px;
	margin: 0 auto;
	padding-bottom: 93px;
	display: flex;
	justify-content: space-between;
}

.footer__logo-img {
	margin-bottom: 10px
}

.footer__social-list {
	display: flex;
	width: 106px;
	justify-content: space-between;
}

.footer__icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: contain;
}

.footer__icon-youtube:hover path,
.footer__icon-ok:hover path,
.footer__icon-vk:hover path {
	fill: #6D31EE;
}

.footer__icon-youtube:focus path,
.footer__icon-ok:focus path,
.footer__icon-vk:focus path {
	fill: #AA9DFA;
}

.footer__icon-youtube:active path,
.footer__icon-ok:active path,
.footer__icon-vk:active path {
	fill: #4F28A5;
}

.footer__nav-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 110px;
}

.footer__nav-item {
	margin-left: 110px;
	line-height: 16px;
}

.footer__nav-item:not(:last-child) {
	margin-bottom: 20px;
}

.footer__nav-link:hover {
	color: var(--color-purple);
}

.footer__nav-link:focus {
	padding: 3px;
	background-color: #AA9DFA;
}

.footer__nav-link:active {
	color: #4F28A5;
}

.footer__span {
	display: block;
	text-align: center;
	line-height: 16.53px;
	color: var(--color-grey);
}